/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir1 D
/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir2 D
/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir3 D
/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir4 A
/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir5 A
/Users/akhiljacobjohn/home/dev/sh/space-cleanup-tool/files/dir6 A